html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Popins', sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 20px;
  background-color: #fdfdcf;
}

@media screen and (max-width: 600px) {
  body {
    display: grid;
    padding: 10px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Popins', sans-serif;
  margin: 0;
  padding: 20px 0;
}

article {
  margin: 0 auto;
  max-width: 90%;
  width: 100%;
  padding: 20px;
}

@media screen and (max-width: 600px) {
  article {
    padding: 10px;
    margin: 0 auto;
  }
}

article h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  article h1 {
    font-size: 1.4rem;
  }
}

article h2 {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  article h2 {
    font-size: 1rem;
  }
}

p {
  color: #5c5a5a;
  font-family: 'Popins', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5;
}

@media screen and (max-width: 600px) {
  p {
    font-size: 1rem;
  }
}

ul {
  list-style: '👉 ';
  margin: 0;
}

ul li {
  margin-bottom: 10px;
  color: #5c5a5a;
  font-family: 'Popins', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5;
}

a {
  color: #5c5a5a;
  text-decoration: none;

  &:hover {
    text-decoration: #5c5a5a;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.center {
  text-align: center;
}

.container {
  display: table;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 60%;
}

@media screen and (max-width: 600px) {
  .container {
    display: grid;
    margin: 0 auto;
    padding: 10px;
    max-width: 100%;
    box-shadow: none;
    border-radius: 4px;
  }
}
